<div class="task-create-container">
  <h2>Create Task</h2>
  <form (ngSubmit)="createTask()">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="task.title" name="title" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="task.description" name="description">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Create</button>
  </form>
</div>