<div>
  <h2>Login</h2>
  <form (ngSubmit)="login()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" name="email" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="password" name="password" type="password" required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>
    <p>Don't have an account? <a [routerLink]="['/register']">Register</a></p>
  </form>
</div>
